VITE_APP_ENV=development
VITE_SITE_URL=https://vanappiah.com
VITE_NEW_SITE_URL=https://geheeldigitaal.nl
NEW_SITE_URL=https://geheeldigitaal.nl
VITE_WEB_APP_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
VITE_DEBUG_SITE_DATA=false
